@font-face {
  font-family: 'lobster';
  src: url('https://content.lifeistech-lesson.jp/Curriculum_materials/Original/font/Lobster-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'stick';
  src: url('https://content.lifeistech-lesson.jp/Curriculum_materials/Original/font/Stick-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'KosugiMaru';
  src: url('https://content.lifeistech-lesson.jp/Curriculum_materials/Original/font/KosugiMaru-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'geo';
  src: url('https://content.lifeistech-lesson.jp/Curriculum_materials/Original/font/Geo-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'chewy';
  src: url('https://content.lifeistech-lesson.jp/Curriculum_materials/Original/font/Chewy-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'pacifico';
  src: url('https://content.lifeistech-lesson.jp/Curriculum_materials/Original/font/Pacifico-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'sacramento';
  src: url('https://content.lifeistech-lesson.jp/Curriculum_materials/Original/font/Sacramento-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'yellowtail';
  src: url('https://content.lifeistech-lesson.jp/Curriculum_materials/Original/font/Yellowtail-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'plaster';
  src: url('https://content.lifeistech-lesson.jp/Curriculum_materials/Original/font/Plaster-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'limelight';
  src: url('https://content.lifeistech-lesson.jp/Curriculum_materials/Original/font/Limelight-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'SawarabiMincho';
  src: url('https://content.lifeistech-lesson.jp/Curriculum_materials/Original/font/SawarabiMincho-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'TrainOne';
  src: url('https://content.lifeistech-lesson.jp/Curriculum_materials/Original/font/TrainOne-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'DotGothic16';
  src: url('https://content.lifeistech-lesson.jp/Curriculum_materials/Original/font/DotGothic16-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'DelaGothicOne';
  src: url('https://content.lifeistech-lesson.jp/Curriculum_materials/Original/font/DelaGothicOne-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'HachiMaruPop';
  src: url('https://content.lifeistech-lesson.jp/Curriculum_materials/Original/font/HachiMaruPop-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'oswald';
  src: url('https://content.lifeistech-lesson.jp/Curriculum_materials/Original/font/Oswald-VariableFont_wght.ttf') format('truetype');
}
